<%- include('./partials/head.ejs')%>

<link rel="stylesheet" href="/css/show.css">
<link rel="stylesheet" href="/css/edit.css">

<body>

    <div id="titleDiv">
        <h1>Body Movement</h1>
    </div>

    <div id="indexOuterNav">
        <div id="indexInnerNav">
            <a class="indexButtons" href="/">Home</a>
            <a class="indexButtons" href="/show_preset">Preset Routine</a>
            <a class="indexButtons" href="/new">Create Exercise</a>
        </div>
    </div>

    <main>

    <div class="subHeading">
        <h2>Edit and make changes To each exercise</h2>
    </div>
    
    <div id="OutsideAllTableDiv">

    <% workouts.forEach(workout=> { %>
        <div id="tableMainDiv">

            <form action="/show_personal/edit/<%=workout._id%>?_method=PUT" method="POST">
                
            <div id="editNameSets">
                <div id="editName">
                    <h4>Name: <input class="inputField1" type="string" name="name" value="<%= workout.name %>"/></h4>
                 </div>   

                <div id="editSets">
                    <h4>Sets: <input class="inputField2" type="number" name="sets" value="<%= workout.sets %>"/></h4>
                 </div>
             </div> 

                        <table>    
                            <tr>
                                <th>Weight</th>
                                <th>reps</th>
                                <th>rest</th>
                                <th>rpe</th>
                            </tr>

                            

                            <tr>
                                <td><input class="inputField2" type="number" name="lbs" value="<%= workout.lbs %>"/></td>
                                <td><input class="inputField2" type="number" name="reps" value="<%= workout.reps %>"/></td>
                                <td><input class="inputField2" type="number" name="rest" value="<%= workout.rest %>"/></td>
                                <td><input class="inputField2" type="number" name="rpe" value="<%= workout.rpe %>"/></td>

                            </tr>
                            
                        </table>
                    <div id="submitDiv">    
                    <input class="sumbitEdit" type="submit" value="Submit Changes"/>
                    </div>
                </form>


        </div>
    
    <% }) %>
    </div>
    </main>


<% /* %>
<!--#region main  -->


<!--#endregion main  -->
<% */ %>
</body>
</html>