<%- include('./partials/head.ejs')%>

<body>

    <h1>Index Page</h1>

    <h2><a href="/index/show_personal">Show Personal</a></h2>
    <h2><a href="/index/show_preset">Show Preset</a></h2>
    <h2><a href="/index/new">Create New</a></h2>
    


  


  
<!--#region main  -->
    <% /* %>




    <ul>
        <% exercises.forEach(element=> { %>
            <li>
                <!-- this turns our created exercises into links where we can later view show page -->
                <a href="/index/<%=element._id; %>">
                    <%=element.name; %>
                </a>
                <form action="/index/<%= element.id %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE"/>
                </form>
                <a href="/index/<%=element._id %>/edit">Edit</a>
            </li>
            <% }) %>
    </ul>
    <% */ %>
<!--#endregion -->
</body>
</html>