<%- include('./partials/head.ejs')%>

<link rel="stylesheet" href="/css/show.css">

<body>

    <div id="titleDiv">
        <h1>Personalized Workout</h1>
    </div>


    <div id="indexOuterNav">
        <div id="indexInnerNav">
            <a class="indexButtons" href="/index">Home</a>
            <a class="indexButtons" href="/index/show_preset">Preset Routine</a>
            <a class="indexButtons" href="/index/edit_personal">Create Routine</a>
        </div>
    </div>
    
    <main>
        <% workouts.forEach(workout=> { %>
            <div id="tableMainDiv">
                <h3><%= workout.name %> (<%= workout.sets %> Sets)</h3>
                <div class="addRemoveParentDiv">
                    <div class="addRemove">
                        <form action="/index/show_personal/add/<%=workout._id%>?_method=PUT" method="POST">
                            <input type="submit" name="sets" value="Add Set"/>
                        </form>

                        <form action="/index/show_personal/remove/<%=workout._id%>?_method=PUT" method="POST">
                            <input type="submit" name="sets" value="Remove Set"/>
                        </form>
                    </div>
                </div>
                <table>    
                    <tr>
                        <th>Weight</th>
                        <th>reps</th>
                        <th>rest</th>
                        <th>rpe</th>
                    </tr>

                    <% for(let i = 0; i < workout.sets; i++) { %>

                        <tr>

                            <td><%= workout.lbs %></td>
                            <td><%= workout.reps %></td>
                            <td><%= workout.rest %></td>
                            <td><%= workout.rpe %></td>

                        </tr>

                    <% } %>


                </table>


                <div class="deleteDiv">
                    <form class="delete" action="/index/show_personal/<%=workout._id%>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE"/>
                    </form>
                </div>

            </div>
        <% }) %>
    </main>



<% /* %>
<!--#region main  -->


<!--#endregion -->
<% */ %>
</body>
</html>