<%- include('./partials/head.ejs')%>

<link rel="stylesheet" href="/css/show.css">

<body>

    <div id="titleDiv">
        <h1>Preset Workout</h1>
    </div>

    <div id="indexOuterNav">
        <div id="indexInnerNav">
            <a class="indexButtons" href="/">Home</a>
            <a class="indexButtons" href="/show_personal">Your Routine</a>
            <a class="indexButtons" href="/new">Create Exercise</a>
        </div>
    </div>

    <main>
        <% workouts.forEach(workout=> { %>
            <div id="tableMainDiv">
                <div id="aboveName"></div>
                <h3><%= workout.name %> (<%= workout.sets %> Sets)</h3>
                <div class="addRemoveParentDiv">
                    <!-- <div class="addRemove">
                        <form class="add" action="/index/show_personal/add/<%=workout._id%>?_method=PUT" method="POST">
                            <input type="submit" name="sets" value="Add Set"/>
                        </form>

                        <form class="remove" action="/index/show_personal/remove/<%=workout._id%>?_method=PUT" method="POST">
                            <input type="submit" name="sets" value="Remove Set"/>
                        </form>
                    </div> -->
                </div>
                <table>    
                    <tr>
                        <th>Weight</th>
                        <th>reps</th>
                        <th>rest</th>
                        <th>rpe</th>
                    </tr>

                    <% for(let i = 0; i < workout.sets; i++) { %>

                        <tr>

                            <td><%= workout.lbs %></td>
                            <td><%= workout.reps %></td>
                            <td><%= workout.rest %></td>
                            <td><%= workout.rpe %></td>

                        </tr>

                    <% } %>


                </table>


                <!-- <div class="deleteDiv">
                    <form class="delete" action="/index/show_personal/<%=workout._id%>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE"/>
                    </form>
                </div> -->
            </div>
            </div>
        <% }) %>
    </main>

    
    <% /* %>
    <!--#region main  -->
    



    <div id="tableDiv">
        <table>
            
                <% for(let i = 0; i < workouts.length; i++) { %>
                    
                        <th><h3><%= workouts[i].name %> (<%= workouts[i].sets %> Sets)</h3></th>

                            <tr>
                                <th>Weight</th>
                                <th>reps</th>
                                <th>rest</th>
                                <th>rpe</th>
                            </tr>

                            <% for(let k = 0; k < workouts[i].sets; k++) { %>
                                
                                    <tr>
                                        <td><%= workouts[i].lbs %> lbs</td>
                                        <td><%= workouts[i].reps %>x</td>
                                        <td><%= workouts[i].rest %>sec</td>
                                        <td><%= workouts[i].rpe %></td>
                                        <td><input type="button" value="delete set"></td>
                                    </tr>
                    
                            <% } %>

                        <tr><td id="addSetCell"><input type="button" value="Add Set"></td></tr>
                    
                <% } %>
                                
        </table>
    </div>  
    <!--#endregion -->
    <% */ %>

</body>
</html>